


html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    font-size: 62,5%;
    background-color: #fff; 
}

body {
    font-family: "Source Sans Pro";
}


.main-container{
    margin: 0 auto;
    max-width: 100%;
    display: block;
}

.container{
    padding: 0;
    width: 100vw;
    margin: 0 !important;
    display: block;
    float: left;
    max-width: 100%;
}

.header {
    display: block;
    float: left;
    width: 100%;
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

h1 {
    font-size: 2rem;
    color: #c4a644 ;
    margin-bottom: 18px;
    padding: 15px;
}

h2{
    font-size: 1.6rem;
    color: #c4a644 ;
    margin-bottom: 18px;
}

h3 {
    font-size: 1.6rem;
    color: #c4a644 ;
    margin-bottom: 18px;
    padding-top: 10px;
}

h4{
    font-size: 1.2rem;
    color: #c4a644 ;
    margin-bottom: 13px;
    padding-top: 10px;  
}   

p {
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 1.3;
    color: #cac7c6 ;
}   

.guide {
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 1.0rem;
    color: #cac7c6 ;

}

section {
    font-size: 1rem;
    display: block;
    width: 100vw;
    float: left;
    padding: 20px 0;
    background-color: #fff;
}

.article {
    display: block;
    float: left;
    width: 65%;
}

.nav {  
    display: block;
    float: left;
    width: 30%;
}

nav li {
    margin: 1px 20px 1px 0;
    padding: 10px;
    background-color: #efefef;
    list-style-type: none;

}

nav li:hover {
    background-color: #e2d3a1 ;
}

nav a {
    text-decoration: none;
    color: black
}

nav a:hover {
    color: #385874;
}   

footer {
    background-color: #c4a644;
    float: left;
    width: 101%;
    padding: 18px 0 9px 18px;
}

footer p {
    color: #fff;
    font-size: 1.1rem;
}

footer small {
    font-size: 80%;
    display: block;
}

.cognito {
    height: 370px !important;
    overflow: hidden;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}   

#tenho-interesse {
    width: 97.05%;
    border-top: 1px solid black;
    padding: 20px;
    align-content: center;
    display: block;
}


.formulario-head h1,
.formulario-head p {
    padding-left: 2px;  
    line-height: 1;
}

/*-----layout-responsivo-mobile--------*/


@media (max-width: 414px) {

    .nav, .article {
        width: auto;
    }
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }
    img { 
        max-width: 100%
    }
    h1 {
        font-size: 1.8rem;
    }
    h2, h3 {
        font-size: 1.4rem;
    }
}

@media (max-width: 900px) {
    .nav, .article {
        width: auto;
    }
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }
    img { 
        max-width: 100%;
    
    }
    h1 {
        font-size: 1.8rem;
    }
    h2, h3 {
        font-size: 1.4rem;
    }
}


/*-----landing-page--------*/

#banner {
    background-image: url(../imagens/pexels-antoni-shkraba-4348401-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}


.legenda-container {
    width: 30vw;    
    float: right;
    margin: 7vw 6vw 0 0;
   
}

.legenda {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 38px;
   
}

.legenda h5, .legenda h4{
    color: rgb(92, 86, 86);
    line-height: 1;
}



.footer-sm {
    background-color: #c4a644;
    float: left;
    width: 101%;
    padding: 18px 0 9px 18px;
}

/*-----botoes-------*/

.btn-cta {
    border-radius: 25px;
    display: inline;
    background-color: #c4a644;
    color: #fff;
    font-size: 17.5px;
    box-shadow: 1px 1px 4px rgb(82, 80, 80);
    padding: 10px 20px;
    width: auto;
    text-decoration: none;
    font-weight: 400;
    float: right;
    text-transform: uppercase;
}

.btn-cta-blog {
    border-radius: 25px;
    display: inline;
    background-color: #c4a644;
    color: #fff;
    font-size: 17.5px;  
    box-shadow: 1px 1px 4px rgb(82, 80, 80);
    padding: 10px 20px;
    width: auto;
    text-decoration: none;
    font-weight: 400;
    float: right;
    text-transform: uppercase;
    margin-right: 180px;
    margin-bottom: 40px;
}

.btn-cta-duvidas {
border-radius: 25px;
display: inline;
background-color: #c4a644;
color: #fff;
font-size: 17.5px;
box-shadow: 1px 1px 4px rgb(82, 80, 80);
padding: 10px 20px;
width: auto;
text-decoration: none;
font-weight: 400;
float: left;
text-transform: uppercase;
margin: 15px 0 15px 20px; /*----top-right-bottom-left--*/
}




#saiba-mais {
    background-color: #cac7c6;
    padding: 40px 20;
}

.saiba-mais p,
.saiba-mais img {
    width: 45%;
    display: block;
    float: left !important;
    padding: 20px;
}

.header-sm {
    display: block;
    float: left;
    width: 100%;               /*---ajuste-img----*/
    background: #fff;
    padding: 20px 0;
}


/*-----duvidas-frequentes---*/

.head-duvidas {
    padding-left: 20px;
    font-size: 1.9rem;
}


dt {
    font-weight: 600;
    font-size: 1.4rem;      /*-----defines-terms--------*/
    padding-left: 20px;
}
    

dd { 
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;          /*------defines-description-----*/
    color: #cac7c6;
    font-family: 'Source Sans Pro';  
}


dl {
    margin: 20px 0;             /*-----description-list------*/
}

.duvidas-frequentes {
    border-top: solid 1px black; 
}











